.App-layout-wapper {
  height: 100%;
}

.App-layout-wapper .bread-wapper .top-meun {
  margin: 16px 0;
}

.App-layout-wapper .site-layout-background {
  background: #fff;
}

.wapper_border {
  padding: 10px;
  border: 2px solid red;
}
